@import "./datepicker";
@import "react-big-calendar/lib/css/react-big-calendar.css";
@import "./calendar";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body,
  html {
    margin: 0;
    overflow: hidden;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  /* .buying {
    @apply bg-primary !important;
    @apply border-0 !important; 

    &:focus {
      @apply outline-none !important;
      @apply ring-2 !important;
      @apply ring-primary-600 !important;
    }
  }

  .delivery {
    @apply bg-success !important;
    @apply border-0 !important; 

    &:focus {
      @apply outline-none !important;
      @apply ring-2 !important;
      @apply ring-success-600 !important;
    }
  }

  .reclamation {
    @apply bg-warning !important;
    @apply border-0 !important; 

    &:focus {
      @apply outline-none !important;
      @apply ring-2 !important;
      @apply ring-warning-600 !important;
    }
  } */

  @keyframes slide-in {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .slide-in {
    animation: slide-in 0.3s ease-out;
  }

  .fade-in {
    animation: fade-in 0.3s ease-out;
  }
}
